@model IEnumerable<System.Nullable<Int32>>
<div id="9">
    @foreach (var item in Model)
    {
        @Html.CheckBox(item.ToString());
        @Html.LabelForModel(item.ToString());
        <b>&nbsp</b>
    }
</div>