@model IEnumerable<System.Nullable<double>>
<div id="7">
    @foreach (var item in Model)
    {
        @Html.CheckBox(item.ToString());
        @Html.LabelForModel(item.ToString());
        <b>&nbsp</b>
    }
</div>
